@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600,800");

.wallet-button {
    color: #2c2560 !important;
    font-family: 'Helvetica', sans-serif !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
    text-align: left !important;
    justify-content: flex-start !important;
    text-transform: none !important;
    width: 100%;
    font-family: Montserrat !important;
    background-color: transparent !important;
    border: none !important;
    transition: all 200ms ease-in-out;
    padding: 25px !important;
    margin-bottom: 2px;
  }

.wallet-button:hover {
    background: rgba(0,0,0,0.05) !important;
    color: #2c2560 !important;
    transition: all 200ms ease-in-out;
}
